// default
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "IBM Plex Sans", Helvetica, Arial, sans-serif;
  font-size: 12pt;
  color: #fff;
  background: #000;
}

// link //
a, a:visited {
  color: #ccc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

// heading //
h1, h2, h3, h4, h5, h6 {
  font-weight: 300;
}
/*
h6 {font-size: 14pt;}
h5 {font-size: 16pt;}
h4 {font-size: 18pt;}
h3 {font-size: 24pt;}
h2 {font-size: 28pt;}
h1 {font-size: 64pt;}
*/
h6 {font-size: 1em;}
h5 {font-size: 3em;}
h4 {font-size: 5em;}
h3 {font-size: 7em;}
h2 {font-size: 9em;}
h1 {font-size: 11em;}

// style
// flex //
.flex {
  display: flex;
}
.h-justify {
  justify-content: space-between;
}
.h-tengah {
  justify-content: center;
}
.v-tengah {
  align-items: center;
}
.dir-kol {
  flex-direction: column;
}
.dir-row {
  flex-direction: row;
}

// grid //
.grid {
  display: grid;
}
.kol-4 {
  grid-template-columns: auto auto auto auto;
}
.kol-5 {
  grid-template-columns: auto auto auto auto auto;
}
.row-2 {
  grid-template-rows: auto auto;
}

// elements
body > div {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.kontainer {
  margin: 15px;
  width: 100%;
  overflow: hidden;
}

.box {
  border: 3px solid #333;
  min-height: 80%;
  flex-grow: 2;
  position: relative;
  overflow-y: hidden;
  //overflow-x: scroll;

  .judul {
    position: absolute;
    top: 10%;
    left: 30%
  }

  .panel {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;

    > div {
      opacity: 0;
      padding: 7px 11px;
      flex-basis: 25%;

      h5 {
        position: relative;
        top: 10px;
        transition: top 0.3s;
      }
      p {
        word-wrap: break-word;
      }
      ul {
        list-style: none;
      }
    }
    > div:hover {
      opacity: 1;

      h5 {
        top: 0;
      }
    }
  }
}

footer {
  margin-top: 15px;
}

// responsif
.cuma-mobile {
  display: none;
}

.cuma-desktop {
  display: flex;
}

@media screen and (max-width: 1023px), screen and (max-height: 599px) {
  .cuma-mobile {
    display: flex;
  }

  .cuma-desktop {
    display: none;
  }
}
